<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hybrid Connection Manager</title>
    <link rel="icon" type="image/x-icon" href="~/assets/Icon.ico">
    <link rel="icon" type="image/png" href="~/assets/Icon.png">
    <link rel="apple-touch-icon" href="~/assets/Icon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="fixed-bottom azure-footer">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="footer-left">
                        <span>&copy; @DateTime.Now.Year - Microsoft Corporation</span>
                    </div>
                    <div class="footer-right">
                        <button id="helpButton" class="btn-azure-white" title="Help">
                            <i class="fas fa-question-circle"></i>
                            <span>Help</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>