<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?define CLIPublishDir  = "..\HybridConnectionManagerCLI\bin\Release\net8.0\win-x64\publish"?>
	<Fragment>
        <DirectoryRef Id="CLIDir">
            <Component Id="cmp0PWfljb2rjYGFgkWCodKH4fOIlw" Guid="{BDC2FA89-FE5F-4274-ABD3-F56B0C7308E4}">
                <File Id="fil3JjjyrKt8NdJF2_mGfcgGubY7Vg" KeyPath="yes" Source="$(var.CLIPublishDir)\hcm.pdb" />
            </Component>
            <Component Id="cmpiVUMJMMqP8w1_5gTNPP3RxwinGk" Guid="{6B05C237-14CE-4360-B3EC-6EED9FE5ED52}">
                <File Id="filzrJlP4_OKKbLpEQQ25.u1hxRaZk" KeyPath="yes" Source="$(var.CLIPublishDir)\HybridConnectionManagerLibrary.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CLIFiles">
            <ComponentRef Id="cmp0PWfljb2rjYGFgkWCodKH4fOIlw" />
            <ComponentRef Id="cmpiVUMJMMqP8w1_5gTNPP3RxwinGk" />
        </ComponentGroup>
    </Fragment>
</Wix>