<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?define CLIPublishDir  = "..\HybridConnectionManagerCLI\bin\Release\net8.0\win-x64\publish"?>
    <Fragment>
        <DirectoryRef Id="CLIDir">
            <Component Id="cmpxFcIYODE3ZuMOoTW.wc2lPB_MHg" Guid="{95F44DD4-22EA-4FC2-AE41-1559ED8BBE51}">
                <File Id="filefpUdIbdpuqqQGaoqrRdZWdQ67g" KeyPath="yes" Source="$(var.CLIPublishDir)\hcm.exe" />
            </Component>
            <Component Id="cmp0PWfljb2rjYGFgkWCodKH4fOIlw" Guid="{E91BC8CE-34B7-40E9-9449-7567BC120F80}">
                <File Id="fil3JjjyrKt8NdJF2_mGfcgGubY7Vg" KeyPath="yes" Source="$(var.CLIPublishDir)\hcm.pdb" />
            </Component>
            <Component Id="cmpiVUMJMMqP8w1_5gTNPP3RxwinGk" Guid="{5B1FEF1C-EEE3-4935-A587-F20EDE270138}">
                <File Id="filzrJlP4_OKKbLpEQQ25.u1hxRaZk" KeyPath="yes" Source="$(var.CLIPublishDir)\HybridConnectionManagerLibrary.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CLIFiles">
            <ComponentRef Id="cmpxFcIYODE3ZuMOoTW.wc2lPB_MHg" />
            <ComponentRef Id="cmp0PWfljb2rjYGFgkWCodKH4fOIlw" />
            <ComponentRef Id="cmpiVUMJMMqP8w1_5gTNPP3RxwinGk" />
        </ComponentGroup>
    </Fragment>
</Wix>