<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?define ServicePublishDir  = "..\HybridConnectionManagerService\bin\Release\net8.0\win-x64\publish"?>
	<Fragment>
        <DirectoryRef Id="ServiceDir">
            <Component Id="cmpmwyV7r7L77MVoqFPmPTK2h9XEJI" Guid="{0850309D-D72C-49D7-AF86-41F516AF9F83}">
                <File Id="fil252QmQSUtQbX3Oinj7HYReYJdds" KeyPath="yes" Source="$(var.ServicePublishDir)\appsettings.Development.json" />
            </Component>
            <Component Id="cmpRXI27USxUCz40.ER0sBEBhbhLaY" Guid="{49E7A18A-08E3-4B78-A3D4-128C7F88A2CD}">
                <File Id="fillLPYAp945ndjyPjN3mkulVu0Zuk" KeyPath="yes" Source="$(var.ServicePublishDir)\appsettings.json" />
            </Component>
            <Component Id="cmplqYu8cJP3aGRbxD6HL6n8Wq3wF8" Guid="{F961E7FE-195C-49B0-8BD6-FB439BE0FA69}">
                <File Id="filBwv_701E1D0W8H9Y037pd0_ctyg" KeyPath="yes" Source="$(var.ServicePublishDir)\aspnetcorev2_inprocess.dll" />
            </Component>
            <Component Id="cmpCAOWcKF98od2Dth27dnlQCQphrE" Guid="{E2398DCC-22CA-42EB-AE16-C6E442E47EE4}">
                <File Id="fils40NAKmdHgcGTfTHs0YQigeU1pY" KeyPath="yes" Source="$(var.ServicePublishDir)\HybridConnectionManagerLibrary.pdb" />
            </Component>
            <Component Id="cmpErrpQ2tJWJ5f9nH2NCbuUaz3PeQ" Guid="{2F5AA954-A1AA-4B17-AB96-8D07D9EBB2B2}">
                <File Id="filoB0nN_5IF0uwUI7r3957UYJlKdk" KeyPath="yes" Source="$(var.ServicePublishDir)\HybridConnectionManagerService.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ServiceFiles">
            <ComponentRef Id="cmpmwyV7r7L77MVoqFPmPTK2h9XEJI" />
            <ComponentRef Id="cmpRXI27USxUCz40.ER0sBEBhbhLaY" />
            <ComponentRef Id="cmplqYu8cJP3aGRbxD6HL6n8Wq3wF8" />
            <ComponentRef Id="cmpCAOWcKF98od2Dth27dnlQCQphrE" />
            <ComponentRef Id="cmpErrpQ2tJWJ5f9nH2NCbuUaz3PeQ" />
        </ComponentGroup>
    </Fragment>
</Wix>